{% extends 'main/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Информация студента
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th scope="row">Имя</th>
                            <td>{{ object.first_name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Фамилия</th>
                            <td>{{ object.last_name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Почта</th>
                            <td>{{ object.email }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Предметы студента
                    </h3>
                </div>
                <div class="card-body">
                    <ul>
                        {% for subject in subjects %}
                        <li>{{ subject }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    {% endblock %}
